      <div id='wrapper' ng-class='sidebarState'>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        Welcome {{userName}} !
                    </a>
                </li>
                <li ng-repeat='route in routes'>
                    <a href="#">{{route.name}} <span class="workoutExpand glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-default btn-inverse btn-lg sidebarBtn" ng-click='toggleSidebar()'>
                <span class="glyphicon" ng-class='sidebarIcon' aria-hidden="true"></span>
        </button>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="mapDiv"></div>
        </div>
        <!-- /#page-content-wrapper -->
</div>